<div class="stiki">
  <div class="row-fluid page">
          <div class="span12 well">
            <div class="row-fluid">
              <div class="span7">
                <h1><%= @page.title %></h1>
              </div>
              <div class="span5">
                <ul class="breadcrumb">
                  <li>
                    <span class="divider">/</span>
                  </li>
                  <li>
                    <div class="btn-group">
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><%= @space.name %> <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="<%= stiki_routes.spaces_path %>">Spaces</a></li>
                        <%- @spaces.each do |space| %>
                          <li><a href="<%= stiki_routes.space_pages_path(space) %>"><%= space.name %></a></li>
                        <% end -%>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <span class="divider">/</span>
                  </li>
                  <li>
                    <div class="btn-group">
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><%= @page.title %> <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <%- @pages.each do |page| %>
                          <li><a href="<%= stiki_routes.space_page_path(@space,page) %>"><%= page.title %></a></li>
                        <% end -%>
                      </ul>
                    </div>
                  </li>
                  
                </ul>
              </div>
          </div>
  </div>
  <div class="row-fluid">
    <div class="span9">
      <div class="row-fluid">
        <div class="span11 well"><%= @markup %></div>
      </div>
      <div class="row-fluid">
        <div class="span11 well">
          <div class="span2">
            <%= link_to 'Edit', stiki_routes.edit_space_page_path(@space,@page), :class => 'btn btn-primary' %>
          </div>
          <div class="span2">
            <%= link_to 'Delete', { :action => "delete", :id => @page.slug }, :confirm => "Are you sure you want to remove this Wiki Page?", :class => 'btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="row-fluid">
        <div class="span12 well">
          <ul class="nav nav-list author">
            <li class="nav-header">Contributors</li>
            <%- @page.authors.each do |author| %>
              <li>
                <%= user_name( author ) %> 
                <%= "<span class='badge badge-success' title='Author'>A</span>".html_safe if author.creator %>
                <%= "<span class='badge badge-info' title='Last Edit'>L</span>".html_safe if author.last_edit %></li>
              </li>
            <% end -%>
          </ul>
        <div>
      </div>
    </div>
  </div>
</div>