<%- @spaces.each do |space| %>
  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="hero-unit">
          <h2><%= link_to space.name, stiki_routes.space_pages_path(space) %></h2>
          <h4>Created by <%= user_name( space.creator ) %></h4>
        </div>
      </div>
    </div>
  </div>
<% end -%>
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
      <%= form_tag( stiki_routes.spaces_path, :html => {:class => 'form-horizontal'} ) do |f| %>
        <fieldset class="well">
          <div class="control-group">
              <%= label_tag 'name', 'Name', :class => "control-label" %>
              <div class="controls">
                <input class="input-xlarge" id="name" name="space[name]" size="30" type="text">
              </div>
          </div>
          <div class="form-actions">
            <%= submit_tag "Create", :class => "btn btn-primary" %>
          </div>
        </fieldset>
        <% end -%>
    </div>
  </div>
</div>